
@font-face {font-family: "COCOGOOSE"; src: url('../fonts/Cocogoose_trial.otf'); } 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

$red:#EC5242;
$black:#272A31;
$grey:#D3D3D3;
$darkred: #ff0000;
$darkgrey:rgb(51, 49, 49);


$colors:(red:$red, black:$black, grey:$grey, darkred:$darkred, darkgrey:$darkgrey);

@each $prop, $value in $colors{
    .bg-#{$prop}
    {background-color: $value;}

    .txt-#{$prop}
    {color: $value;}

}

a{
    text-decoration: none;
    
}

a:hover{
    text-decoration: none;
    color: $grey;
}

.h-px-50{
    height: 50px;
}

.h-px-80{
    height: 80px;
}

.wt_300{
    font-weight: 300;
}

.font_lato{
    font-family: 'Lato', sans-serif;
}

.font_coco{
    font-family: 'COCOGOOSE';
}

.right_nav{
    display: none;
    position: relative;
    right: 70px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.hambrgr{
    display: inline;
    position: relative;
    top: 10px;
    left:10px;
    z-index: 2;
}


.logo_nav{
    display: none;
    height: 35px;
     width: auto;
     position: relative;
     top:20px;
     left: 70px;

}

.hero_sec{
    height: 500px;
    position: absolute;
    top:0px;
    z-index: 1;
    background-image: url('../backgrounds/white-wood-wall-texture-bg.jpg');
      
}

.zindex-0{
    z-index: 0;
}

.d-mob-none{    
    @media (max-width:768)
    {display:none;}
}


@media only screen and (min-width: 768px){
    
    
   .hero_sec{
       
       top: 130px;
   }
   

}




