@import 'fonts.scss';
@import 'variables.scss';
@import 'components.scss';

$colors:(red:$red, black:$black, grey:$grey, darkred:$darkred, darkgrey:$darkgrey, white:#fff);

@each $prop, $value in $colors{
    .bg-#{$prop}
    {background-color: $value;}

    .txt-#{$prop}
    {color: $value;}

}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

a{
    text-decoration: none;
    
}

a:hover{
    text-decoration: none;
    color: $grey;
}

.h-px-50{
    height: 50px;
}

.h-px-80{
    height: 80px;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.zindex-0{
    z-index: 0;
}


.border_width{
    border-width: 2px;
    
}

.border_color_white{
    border-color: white;
}

.border_color_red{
    border-color: red;
}

.border_style{
    border-style: solid;
}

.p-10{
    padding: 10px;
}

.pad-top-80{
padding-top: 80px;
}

.width-sm-90{
    width: 90%;
}

.d-mob-none{    
    @media (max-width:768px)
    {display:none;}
}

.line_height_60{
    line-height: 60px;
}

.pad_top{
    margin-top: 20px;
}

.pad-sm-10{
   
  padding: 20px;
 
}

.pad-left{
    padding-left: 20px;
}

.width-55{
    @media (max-width:768px){
    width: 55%;
}
}

.tkts{
width:300px;
height: 80px;
background-color: $red;
display: flex;
align-items: center;
justify-content: center;
}

@media only screen and (min-width: 768px){
   
   
   .left-md-150{
      left:150px;
     }

     .right-md-150{
        right: 150px;
    }

    .p-md-absolute{
        position: absolute;
    }

    .width-md-70{
        width: 70%;
    }
}




