@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

@font-face {
  font-family: "COCOGOOSE";
  src: url("../fonts/Cocogoose_trial.otf");
}

.font_coco {
  font-family: 'COCOGOOSE', sans-serif;
}

.wt_300 {
  font-weight: 300;
}

.font_size_xsm {
  font-size: 12px;
}

.font_size_sm {
  font-size: 20px;
}

.font_size_med {
  font-size: 30px;
}

.font_size_lg {
  font-size: 40px;
}

.font_size_big {
  font-size: 60px;
}

.all-upper-case {
  text-transform: uppercase;
}

.txt-undrline {
  text-decoration: underline;
}

.txt-italic {
  font-style: italic;
}

.line_height_60 {
  line-height: 60px;
}

.line_height_sm {
  line-height: 15px;
}

/* header Classes */
.right_nav {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.hambrgr {
  display: inline;
  top: 10px;
  left: 30px;
  z-index: 5;
}

/* Hero section classes */
.hero_sec {
  height: 700px;
  z-index: 1;
  background-image: url("../backgrounds/white-wood-wall-texture-bg.jpg");
}

/* Main Program Classes */
.mp-undrline {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tickets classes */
.tkts {
  width: 300px;
  height: 80px;
  background-color: #ec5242;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-undrline {
  width: 25px;
  height: 2px;
  background-color: #d3d3d3;
}

/* featured speakers classes */
.speakers-item {
  display: flex;
  align-items: flex-start;
}

.spkr-img {
  width: 120px;
  height: 120px;
}

/* Partners classes */
.partners {
  height: 200px;
  background-color: #272a31;
}

.logo_nav {
  height: 35px;
  width: auto;
  top: 20px;
  z-index: 5;
}

.programs {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
}

@media only screen and (min-width: 900px) {
  .w-top-nav {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .w-top-nav {
    width: 50%;
  }
}

@media only screen and (max-width: 830px) {
  .logo_nav {
    display: none;
  }
}

/* View below 768px Mobile V */
@media only screen and (max-width: 768px) {
  .d-mob-none {
    display: none;
  }

  .width-sm-55 {
    width: 20%;
  }
}

main {
  top: 0;
}

.width-para {
  width: 100%;
}

.main-prog {
  height: 580px;
  background-image: url("../backgrounds/TEDx_bg.png");
}

.prog-item {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.feat-spkrs {
  height: 950px;
  background-color: white;
}

.speakers-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
}

.partners img {
  height: 50px;
  width: auto;
}

.width-hero {
  width: 90%;
}

/* View Above 768px Desktop V */
@media only screen and (min-width: 768px) {
  main {
    top: 130px;
  }

  .width-para {
    width: 50%;
  }

  .main-prog {
    height: 400px;
  }

  .programs {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    width: 90%;
  }

  .prog-item {
    flex-direction: column;
    height: 100%;
  }

  .feat-spkrs {
    height: 700px;
  }

  .speakers-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    width: 75%;
  }

  .partners img {
    height: 60px;
  }

  .left-md-150 {
    left: 150px;
  }

  .right-md-150 {
    right: 150px;
  }

  .p-md-absolute {
    position: absolute;
  }

  .width-hero {
    width: 70%;
  }
}

.border-grey {
  border: #d3d3d3 solid 1px;
}

.top-border-grey {
  border-top: #d3d3d3 solid 1px;
}

.p-20 {
  padding: 20px;
}

.w-300-px {
  width: 300px;
}

@media (max-width: 768px) {
  .h-hero-sm {
    height: 850px;
  }
}

.logo-div {
  height: 350px;
}

.past-div {
  height: 700px;
}

.div-past-con {
  width: 400px;
  height: 250px;
  position: relative;
}

.div-past-con::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #ec5242;
  opacity: 0.5;
}

.bg-pic1 {
  background: url("../images/cong1.jpeg");
}

.bg-pic2 {
  background: url("../images/conf4.jpeg");
}

.flex-past-con {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
}

@media (min-width: 768px) {
  .flex-past-con {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
  }
}

.bg-red {
  background-color: #ec5242;
}

.txt-red {
  color: #ec5242;
}

.bg-black {
  background-color: #272a31;
}

.txt-black {
  color: #272a31;
}

.bg-grey {
  background-color: #d3d3d3;
}

.txt-grey {
  color: #d3d3d3;
}

.bg-darkred {
  background-color: #f00;
}

.txt-darkred {
  color: #f00;
}

.bg-darkgrey {
  background-color: #333131;
}

.txt-darkgrey {
  color: #333131;
}

.bg-white {
  background-color: #fff;
}

.txt-white {
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #d3d3d3;
}

.h-px-50 {
  height: 50px;
}

.h-px-80 {
  height: 80px;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.zindex-0 {
  z-index: 0;
}

.border_width {
  border-width: 2px;
}

.border_color_white {
  border-color: white;
}

.border_color_red {
  border-color: red;
}

.border_style {
  border-style: solid;
}

.p-10 {
  padding: 10px;
}

.pad-top-80 {
  padding-top: 80px;
}

.width-90 {
  width: 90%;
}

.pad_top {
  margin-top: 20px;
}

.pad-sm-10 {
  padding: 10px;
}

.pad-left {
  padding-left: 10px;
}

.p-top {
  padding-top: 5px;
}

.p-bottom {
  padding-bottom: 5px;
}

.p-top-40 {
  padding-top: 40px;
}

.footer-div {
  height: 150px;
}

.logo_footer {
  height: 50px;
  width: auto;
}
